<div class="container" ng-controller="mainController">
    <div class="article" dir-paginate="(index, article) in articles | itemsPerPage: 10">
        <h2 class="article-title"><a href="#/news/{{article.id}}" ng-click="">{{ article.title }}</a></h2>
        <p class="article-text">{{article.text}}</p>
        <div class="about-article row">
            <p class="article-author">{{ article.author }}</p>
            <p class="article-pubdate">{{ article.date | date }}</p>
        </div>
    </div>

    <dir-pagination-controls class="pagination"></dir-pagination-controls>


</div>